<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>title <%= title %></div>
    <div>content <%= content %></div>
    <div>date <%= date %></div>
    <div>tag <%= tag %></div>
    <div>scname <%= scname %></div>
    <div>email <%= email %></div>
    <div>git <%= git %></div>
</body>
</html>